#bigbox {
  margin-top: 100px;
  margin-left: 450px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px rgb(77, 71, 71);
  height: 550px;
  width: 600px;
  background-color: rgb(241, 246, 249);
}
.image img {
  height: 540px;
  width: 290px;
  margin: 5px;
  border-radius: 6px;
}
h1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 50px;
  margin-left: 50px;
}
span {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 20px;
}

.forms input {
  height: 45px;
  width: 240px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 25px;
  font-size: 17px;
  border: none;
  box-shadow: 0px 0px 3px 0.5px rgb(134, 130, 130);
  outline: none;
}

.forms a {
  text-decoration: none;
  float: right;
  margin-right: 30px;
  margin-top: 10px;
  color: rgb(62, 129, 228);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.forms button {
  margin-top: 40px;
  height: 45px;
  width: 240px;
  border-radius: 5px;
  margin-left: 30px;
  cursor: pointer;
  background-color: rgb(255, 98, 0);
  border: none;
  font-size: 17px;
  letter-spacing: 0.7px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.forms button:hover {
  transform: scale(1.01);
  transition: 0.2s;
  background-color: rgba(255, 72, 0, 0.958);
}
#icons {
  font-size: 35px;
  margin-right: 12px;
  margin-top: 10px;
}
#icons a {
  padding: 10px;
  cursor: pointer;
}

#errormessage {
  text-align: center;
  background-color: red;
  display: none;
}
#checkbox {
  height: 17px;
  width: 17px;
  border-radius: 3px;
  margin-top: 8px;
  margin-left: 30px;
}
